@import "tailwindcss";
@import "@nuxt/ui";

@theme {
		--color-navbardark-300:#2b2725;
	--color-navbardark-500: #24211f;
	--color-navbardark-600: #25211e;
	--color-navbardark-700: #1e1b18;
	--font-sans: "Public Sans", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.label-floating {
	@apply pointer-events-none absolute left-0 -top-2.5 text-(--ui-text-highlighted) text-xs font-medium px-1.5 transition-all peer-focus:-top-2.5 peer-focus:text-(--ui-text-highlighted) peer-focus:text-xs peer-focus:font-medium peer-placeholder-shown:text-sm peer-placeholder-shown:text-(--ui-text-dimmed) peer-placeholder-shown:top-2.5 peer-placeholder-shown:font-semibold;
}

.cool-scrollbar-dark {
	@apply [&::-webkit-scrollbar]:w-1
	[&::-webkit-scrollbar]:h-1
  [&::-webkit-scrollbar-thumb]:cursor-pointer
[&::-webkit-scrollbar-track]:bg-transparent
  [&::-webkit-scrollbar-thumb]:rounded-full
[&::-webkit-scrollbar-thumb]:bg-primary-500;
}
