@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--color-navbardark-500: #24211f;
	--color-navbardark-700: #1e1b18;
	--font-sans: "Public Sans", sans-serif;
}

.quick-link-card {
	@apply bg-white dark:bg-navbardark-500 rounded-xl p-6 shadow-md hover:shadow-lg transition-all duration-300;
	@apply flex flex-col items-center text-center;
	@apply hover:-translate-y-1;
	@apply text-gray-800 dark:text-gray-200 no-underline;
}

.quick-link-card.compact {
	@apply p-4;
}

.quick-link-card.compact .icon-container {
	@apply mb-2;
}

.quick-link-card.compact .title {
	@apply text-base;
}

.icon-container {
	@apply mb-4 text-primary-500 dark:text-primary-500;
}

.content {
	@apply flex flex-col gap-1;
}

.title {
	@apply text-lg font-semibold;
}

.description {
	@apply text-sm text-gray-600 dark:text-gray-400;
}
